* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Fira Sans Condensed', sans-serif;
}

header {
  width: 100vw;
  .header-center {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    .header-cart {
      margin-left: auto;
      span {
        color: grey;
        margin-left: 5px;
      }
    }
    h1 {
      margin-left: auto;
      font-family: 'Darker Grotesque', sans-serif;
      font-weight: 700;
      font-size: 25px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

h2 {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
h3 {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}
.order {
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  &-product {
    display: flex;
    justify-content: space-between;
    img {
      margin-bottom: 15px;
    }
  }
  .product-info {
    flex-basis: 70%;
    &_qty {
      display: flex;
      justify-content: space-between;
    }
    &_price {
      display: flex;
      justify-content: space-between;
    }
  }
  hr {
    margin-bottom: 30px;
  }
  &-sum {
    margin-bottom: 30px;
    div {
      display: flex;
      justify-content: space-between;
      &:last-child {
        span:first-child {
          font-weight: 500;
        }
      }
    }
  }
}
.checkout {
  form {
    width: 300px;
    margin: 0 auto;
    label {
      display: block;
      font-size: 10px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    input {
      margin-top: 5px;
      padding: 8px 5px;
      border-radius: 2px;
      box-shadow: none;
      border: 1px solid rgb(201, 198, 198);
      width: 100%;
      &:focus {
        outline-color: #683a8a;
      }
    }
    select {
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }
}
